<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isaias Doawload</title>
    <link href="home.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="nav">
        <h1>Baixe aqui Isaias</h1>
    </div>
    <div id="formulario">
        <form action="query?" method="get">
            <input id="caixaTexto" type="text" name="teste" placeholder="URL:"><br>
            <button id="btnEnviar" type="submit">Baixar</button>
        </form>
    </div>
    <div id="obs">
        Obs: No momento, teremos apenas a versão mp4
        <br>Ao fazer o Download, mude a extenção do arquivo para mp4
    </div>
    <div id="rodape">
        ©ISAQUE GABRIEL
    </div>
</body>
</html>
